#pragma code_page(65001)
#include <windows.h>

//
// UnLha64x.DLL バージョン情報定義 (BOM付きUTF-8, CRLF)
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,0,0
 PRODUCTVERSION 1,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L // VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0" // 日本語 (Unicode)
        BEGIN
            VALUE "CompanyName", "micosoft / akiya" // 'mico'softです 
            VALUE "FileDescription", "UnLha64x.DLL"
            VALUE "FileVersion", "1.1.0.0"
            VALUE "InternalName", "UnLha64x"
            VALUE "LegalCopyright", "© 2026 micosoft / akiya"
            VALUE "OriginalFilename", "UnLha64x.dll"
            VALUE "ProductName", "UnLha64x"
            VALUE "ProductVersion", "1.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200 // 日本語, Unicode (UTF-16)
    END
END
